<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="aim-console aim-provider-table"
     data-toggle-url="{toggleUrl}"
     data-label-toggle-failed-title="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.modelToggle.failed.title')}"
     data-label-toggle-failed-message="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.modelToggle.failed.message')}">
    <style>{consoleCss -> f:format.raw()}</style>
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.provider" /></th>
                    <th><f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.capabilities" /></th>
                    <th><f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.models" /></th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{providers}" as="provider">
                    <tr>
                        <td style="white-space: nowrap">
                            <f:if condition="{provider.iconIdentifier}">
                                <core:icon identifier="{provider.iconIdentifier}" size="small" />
                            </f:if>
                            {provider.name}
                        </td>
                        <td>
                            <f:for each="{provider.capabilities}" as="capability">
                                <span class="aim-capability-chip">{capability}</span>
                            </f:for>
                        </td>
                        <td>
                            <f:for each="{provider.models}" as="model">
                                <f:variable name="enableLabel">{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.modelToggle.enable', arguments: '{0: model.id}')}</f:variable>
                                <f:variable name="disableLabel">{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.modelToggle.disable', arguments: '{0: model.id}')}</f:variable>
                                <button type="button"
                                        class="aim-model-toggle"
                                        data-disabled="{f:if(condition: model.disabled, then: '1', else: '0')}"
                                        aria-pressed="{f:if(condition: model.disabled, then: 'false', else: 'true')}"
                                        title="{f:if(condition: model.disabled, then: enableLabel, else: disableLabel)}"
                                        data-label-enable="{enableLabel}"
                                        data-label-disable="{disableLabel}"
                                        data-model-toggle
                                        data-provider="{provider.identifier}"
                                        data-model="{model.id}">
                                    <span class="aim-led"></span>{model.id}
                                </button>
                            </f:for>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
    <p class="text-body-secondary mt-2" style="font-size: 12px;">
        <core:icon identifier="actions-info" size="small" />
        <f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:overview.modelToggleHint" />
    </p>
</div>

</html>
