<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <f:be.pageRenderer
        includeCssFiles="{
            0: 'EXT:aim/Resources/Public/Css/base.css',
        }"
        includeJavaScriptModules="{
            0: '@b13/aim/prompt-preview.js',
            1: '@typo3/backend/context-menu.js',
            2: '@b13/aim/calibrate-voice-trigger.js',
        }"
    />

    <div
        id="pp-module-state"
        data-has-explicit-page-id="{f:if(condition: requestCarriedExplicitPageId, then: '1', else: '0')}"
        hidden
    ></div>

    <template
        id="pp-panel-general"
        data-page-id=""
        data-modal-title="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.modalTitle.general')}"
        data-label-empty="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.result.empty')}"
        data-label-characters="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.result.characters.label')}"
        data-label-tokens="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.result.tokens.label')}"
        data-label-page-tone="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.pageTone')}"
        data-label-global-fallback="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.globalFallback')}"
        data-label-user-fragments="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.userFragments')}"
        data-label-registry-fragments="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.registryFragments')}"
        data-label-provider-addendum="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.providerAddendum')}"
    >
        <f:render partial="PromptPreviewPanel" arguments="{scopeOptions: scopeOptions, providerConfigurations: providerConfigurations}" />
    </template>

    <f:if condition="{selectedPageId} > 0">
        <template
            id="pp-panel-selected"
            data-page-id="{selectedPageId}"
            data-modal-title="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.modalTitle', arguments: '{0: selectedPageTitle}')}"
            data-label-empty="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.result.empty')}"
            data-label-characters="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.result.characters.label')}"
            data-label-tokens="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.result.tokens.label')}"
            data-label-page-tone="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.pageTone')}"
            data-label-global-fallback="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.globalFallback')}"
            data-label-user-fragments="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.userFragments')}"
            data-label-registry-fragments="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.registryFragments')}"
            data-label-provider-addendum="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.layer.providerAddendum')}"
        >
            <f:render partial="PromptPreviewPanel" arguments="{scopeOptions: scopeOptions, providerConfigurations: providerConfigurations}" />
        </template>
    </f:if>

    <f:render partial="PromptManagementViewSwitch" arguments="{viewBoxes: viewBoxes}" />

    <f:if condition="{selectedPageId} > 0">
        <p class="alert alert-info">
            <f:if condition="{activeView} == 'library'">
                <f:then>
                    <f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.filteringToSubtree.library" arguments="{0: selectedPageTitle}" />
                </f:then>
                <f:else>
                    <f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.filteringToSubtree.pages" arguments="{0: selectedPageTitle}" />
                </f:else>
            </f:if>
            <a href="{f:be.uri(route:'aim_prompt_management', parameters: '{view: activeView, id: 0}')}"><f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:promptPreview.filteringToSubtree.clear" /></a>
        </p>
    </f:if>

    <f:if condition="{activeView} == 'library'">
        <f:then>
            <f:render partial="PromptPreviewLibraryListing" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render partial="PromptPreviewPagesListing" arguments="{_all}" />
        </f:else>
    </f:if>

    <div id="b13_loves_typo3">
        <a href="https://b13.com?utm_source=web&utm_medium=dashboard&utm_campaign=aim&utm_id=aim" target="_blank" rel="external">
            made with ❤ by b13
        </a>
    </div>
</f:section>

</html>
