<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <f:be.pageRenderer
        includeCssFiles="{
            0: 'EXT:aim/Resources/Public/Css/base.css',
        }"
    />

    <div class="aim-console aim-request-log-detail">
        <f:render partial="RequestLogDetail" arguments="{entry: entry, username: username, extensionIcon: extensionIcon}" />
    </div>

    <div id="b13_loves_typo3">
        <a href="https://b13.com?utm_source=web&utm_medium=dashboard&utm_campaign=aim&utm_id=aim" target="_blank" rel="external">
            made with &#x2764; by b13
        </a>
    </div>

</f:section>

</html>
