<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <f:be.pageRenderer
        includeCssFiles="{
            0: 'EXT:aim/Resources/Public/Css/base.css',
        }"
    />

    <f:if condition="{statistics.total_requests}">
        <f:then>
            <f:render partial="RequestLog/Stats" arguments="{statistics: statistics}" />
            <f:render partial="RequestLog/Filters" arguments="{_all}" />

            <f:if condition="{paginator.paginatedItems}">
                <f:then>
                    <f:render partial="RequestLog/Table" arguments="{_all}" />
                    <f:render partial="Pagination" arguments="{paginator: paginator, pagination: pagination, baseUrl: paginationBaseUrl}" />
                </f:then>
                <f:else>
                    <f:if condition="{demand.constraints}">
                        <f:then>
                            <f:be.infobox title="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:requestLog.noEntries.title')}" state="-1">
                                <p><f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:requestLog.noEntries.filtered" /></p>
                                <a href="{f:be.uri(route:'aim_request_log')}" class="btn btn-default">
                                    <f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:filter.reset" />
                                </a>
                            </f:be.infobox>
                        </f:then>
                    </f:if>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:be.infobox title="{f:translate(key: 'LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:requestLog.noEntries.title')}" state="-1">
                <f:translate key="LLL:EXT:aim/Resources/Private/Language/locallang_module.xlf:requestLog.noEntries" />
            </f:be.infobox>
        </f:else>
    </f:if>

    <div id="b13_loves_typo3">
        <a href="https://b13.com?utm_source=web&utm_medium=dashboard&utm_campaign=aim&utm_id=aim" target="_blank" rel="external">
            made with &#x2764; by b13
        </a>
    </div>

</f:section>

</html>
