<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <f:be.pageRenderer
        includeCssFiles="{
            0: 'EXT:aim/Resources/Public/Css/base.css',
        }"
    />

    <div class="aim-console aim-request-log-detail">
        <f:render partial="RequestLogDetail" arguments="{entry: entry, username: username, extensionIcon: extensionIcon}" />
    </div>

    <f:render partial="ProductFooter" />

</f:section>

</html>
